*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Concert One", cursive;
  font-size: 16px;
}
hr.hrLine {
  width: 100%;
  border: 0;
  height: 3px;
  background-color: grey;
  margin: 0;
}
.leftContent{
  float: left;
}
.rightContent{
  float: right;
}
.leftContent button{
  background: none;
  border: none;
  padding: 0;
}
/* input {
  height: 50px;
  width: 100%;
  padding: 6px;
  margin-top: 10px;
  font-size: 2.4em;
  border: none;
} */

li {
  list-style-type: none;
  padding: 0;
  /* background-color: white; */
}



/* li:before {
  content: "\200B";
  position: absolute;
}

li::after {
  content: " ";
  display: block;
  clear: both;
} */

li button {
  /* float: right;
  border: none; */
  height: 40px;
  cursor: pointer;
  background-color: #521449;
  color: white;
  font-size: 1em;
}

li button:hover {
  background-color: #d28ed8;
}

.todos {
  width: 800px;
  margin: 0 auto;
  margin-top: 40px;
}
.game-question {
  font-size: 2em;
}
.game-body {
  width: 70%;
  margin: 0 auto;
  background: #f9fbfd;
  margin-top: 40px;
  padding: 10px;
  border-width: 2px;

}
